/Synch/nbproject/private/
/Synch/build/
/WaitNotify/nbproject/private/
/WaitNotify/build/
/EnumDemo/nbproject/private/
/EnumDemo/build/
/EnumDemo3/nbproject/private/
/EnumDemo3/build/
/BRRead/nbproject/private/
/BRRead/build/
/TinyEdit/nbproject/private/
/TinyEdit/build/
/ShowFile/nbproject/private/
/ShowFile/build/
/ShowFileAutoClose/nbproject/private/
/ShowFileAutoClose/build/
/SimpleApplet/nbproject/private/
/SimpleApplet/build/
/InstanceOf/nbproject/private/
/InstanceOf/build/