/Synch/nbproject/private/
/Synch/build/
/WaitNotify/nbproject/private/
/WaitNotify/build/
/EnumDemo/nbproject/private/
/EnumDemo/build/
/EnumDemo3/nbproject/private/
/EnumDemo3/build/
/BRRead/nbproject/private/
/BRRead/build/